*{
  margin: 0px;
  padding: 0px;
  color: #fff;
  /* box-sizing: border-box; */
}


/* font-family: "Syne", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-family: "Inter", serif;
  font-style: normal; 
  
  .mona-sans-<uniquifier> {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
  */


body{
  background-color: #0a0a0a;
  text-align: center;
  font-family: "Syne", serif;
  display: grid;
  overflow-y: hidden;
}

.login{
  display: grid;
  margin-top:12rem;
}

.sideBarHeading{
  margin-top: 2rem;
  /* font-weight: 900; */
  font-size: 80%;
  color: #474747;
}



.headerDiv{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  position: fixed;
  top: 3;
  background-color: #111315;
  width: 15vw;
  border-radius: 1rem;
  height: 85vh;
  align-items: left;
  text-align: left;
  line-height: 1.8rem;
}

.headerDiv p{
  font-family: "syne", serif;
  font-size: 0.75rem;
  font-weight: 300;
  color: #9c9c9c;
}

.profileDiv .quoteComponent{
  min-height: 2rem;
  max-height: 10rem;
  min-width: 12rem;
  font-size: 80%;
  display: inline-block;
}

.navBarDiv{
  top: 0;
  display: flex;
  position: sticky;
  height: 4rem;
  width: 95vw;
  background-color: #111315;
  padding: 0.5rem 2rem;
}

.navBarLeft{
  display: flex;
  flex-direction: column;
  font-size: 90%;
  margin: 1rem auto 0rem 0rem;
  line-height: 1rem;
}

.userPosts{
  columns: 2;
  column-gap: 10px;
  max-width: 40vw;
}

.grid{
  display: grid;
}



.selectorDiv{
  display: flex;
  flex-direction: column;
  /* margin: auto; */
}

.selectButton{
  display: grid;
  margin: 0.2rem 0rem;
  text-decoration: none;
  background-color: #2B2A2F;
  width: 7rem;
  height: 1.5rem;
  place-content: center;
  padding: 0.3rem;
  border-radius: 0.4rem;
  color: #fff;
  font-weight: 500;
  transition: linear 0.2s;
}

.selectButton:hover{
  transition: linear 0.2s;
  background-color: #626262;
  color: #000;
  cursor: pointer;
}

.ReadDiv{
  position: absolute;
  background-color: #15141B;
  margin-top: 1rem;
  margin-left: 20vw;
  max-width: 50vw!important;
  height: 40rem;
  /* columns: 10rem; */
  column-count: 1;
  column-gap: 1rem; /* Equal horizontal spacing */

}

.quoteComponent{
  display: inline-block;
  align-content: center;
  text-align: left;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 40vh;
  min-width: 21vw;
  width: fit-content;
  max-width: 20rem;
  background: linear-gradient(135deg,rgba(35, 34, 41, 1) 44%, rgba(75, 63, 112, 1) 100%);
  padding: 2rem;
  margin: 1rem  0rem 0rem 0rem;
  border: #5F5188 solid 2px;
  border-radius: 0.6rem;
}


.quoteHere{
  /* font-family: "Syne", serif; */
  font-weight: 300;
  font-size: 120%;
  margin: 0.7rem 0rem;
}

.authorName{
  color: #9A9A9A;
  font-weight: 300;
  font-size: 90%;
}

.createArea{
  width: 50vw;
  height: 40vh;
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 120%;
  font-family: "Syne", serif;
  background-color: #111315;
  color: #fff;
  resize: none;
  font-weight: 600;
  y-overflow: scroll;
  border-radius: 0.5rem;
  margin-top: 13rem;
  display: grid;
  margin: 8rem 0rem 0rem 20rem;
}


.createDiv{
  height: 80vh;
}

.profileDiv{
  display: grid;
  flex-direction: column;
  background-color: #fff;
  max-height: 69.5vh;
  min-height: 69.5vh;
  max-width: 51vw;
  min-width: auto;
  margin: auto auto;
  border-radius: 1rem;
  background-color: #111315;
  padding: 1.5rem;
  overflow-y: scroll;
  align-items: center;
}


.flex{
  display: flex;
  align-items: center;
}

.flex-down{
  display: flex;
  flex-direction: column;
}

.flexProfileDet{
  gap: 0.3rem;
}

.profilePic{
  display: grid;
  border-radius: 5rem;
  border-left: 1rem;
  height: 5rem;
}

.userDetails{
  display: grid;
  place-content: center;
  margin: auto auto;
  font-size: 70%;
  font-weight: 600;
}


.followSection{
  gap:1rem;
  font-size: 55%;
  align-items: center;
}

.followClass{
  gap: 10px ;
}

.followNumber{
  font-weight: 900!important;
}

.profTop h1{
  font-weight: 200;
}

.profileName{
  font-size: 1.5rem;
}

.content{
  display: grid;
  height: 100vh;
  z-index: -2;
}

.quoteActions{
  align-items: center;
  display: flex;
  width:18vw;
  font-size: 60%;
  gap: 1rem;
  font-size: 100%;
}

.likeButton, .followButton{
  border: none;
  outline: none;
  background-color: #3E3D46;
  color: #fff;
  width: 6rem;
  height: 2rem;
  display:flex;
  place-content: center;
  align-items: center;
  gap: 5px;
  padding: 0.3rem;
  font-family: "Syne", serif;
  font-weight: 700;
  font-size: 80%;
  border-radius: 3px;
}

.showFollowers{
  font-family: "Syne", serif;
  background: transparent;
  text-decoration: none;
  border: none;
  outline: none;
  font-weight: 200!important;
}

.showFollowers:hover{
  color: #b1b0b0;
  cursor: pointer;
}

.likeButton:hover, .followButton:hover{
  background-color: #474747;
  cursor: pointer;
}



.quoteComponentComplete{
  display: grid;
}

.userPosts .followButton, .userPosts .likeButton{
  font-size: 80%;
  height: 1.5rem;
  width: 3rem;
}

.followerList{
  margin-left: 20rem;
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: fit-content;
  max-height: 50vh;
  overflow-y: scroll;
  background-color: #171717;
  align-items: center;
  border-radius: 10px;
  z-index: 100;
  position: absolute;
  margin-left: 10rem;
}

.followerListHeader{
  margin: 1rem 0rem;
}

.followerListName{
  width: 10vw;
  height: 1.5rem;
  overflow-y: hidden;
  overflow-x: hidden;
  display: grid;
}


.followerListItem{
  height: 3rem;
  display: flex;
  font-family: "Syne", serif;
  font-weight: 100;
  font-size: 1rem;
  gap: 10px;
  align-items: center;
  margin: 0.4rem 0rem;
}

.unfollowButton{
  width: 5.5rem;
  height: 2rem;
  font-size: 95%;
}


.closeButton{
  height: 2rem;
  background: transparent;
  border: none;
  outline: none;
  color: #000!important;
  font-size: 150%;
  transition: linear 0.2ms;
}

.closeButton:hover{
  transition: linear 0.2ms;
  cursor: pointer;
  transform: rotateX(20deg);
}

::-webkit-scrollbar{
  width: 5px;
  border-radius: 5px;
  background:transparent;
}

.quoteHere::-webkit-scrollbar-track {
  background-color: transparent; /* Transparent track */
}

::-webkit-scrollbar-thumb{
  background-color: #5e5e5e;
  border-radius: 4px;
}
